body {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  background-color: rgb(34, 34, 34);
  color: aliceblue;
  padding: 2rem;
}
