// Colors
$primary-color: #212426;
$secondary-color: #393E40;
$accent-color: #6F7372;
$light-gray: #A6A6A6;
$off-white: #BFBFBD;

// Spacing
$padding-base: 1rem;
$margin-base: 1rem;

// Fonts
$font-main: 'Inter', sans-serif;
